*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica', cursive;
}
body{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
canvas{
  border: 1px solid #000;
  display: block;
  margin: 0 auto;
  width: 320px;
  height: 480px;
}
#sprites{
  display: none;
}
#loading{
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 40px;
}